body{
    font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
ul {
list-style: none;
margin: 0;
padding: 0;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
.section{
    padding: 120px 0;
}
a {
    text-decoration: none;
}
.container {
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px;
    margin: 0 auto;
}
/* #region head */
 .page-header{
    border-bottom: 1px solid #E7E9FC;
 }
 .header-container{
    display: flex;
    align-items: center;
 }
 .page-nav{
    display: flex;
    align-items: center;
 }

.main-logo-design{
    padding: 24px 0;
    margin-right: 76px;
}
.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.text-logo{
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
    margin-left: auto;
}
.address-list{
    display: flex;
    align-items: center;
    gap: 40px;     
}

.address-item{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}
.address-item-contact{
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-item-contact:hover,
.address-item-contact:focus{
    color: #404bbf;
}

/* #endregion head */
/* #region image */
.section-image{
    background-color: #2E2F42;
    padding: 188px 0;
}
.container-image{
    text-align: center;
}
.title-image{
    max-width: 496px;
    margin: 0 auto 48px;
    font-weight: 700;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.button-image{
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}
.button-image:hover,
.button-image:focus{
    background-color: #404bbf;
}
/* #endregion image */
/* #region advantages */
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.section-advantages{
    padding: 120px 0;
}
.advantages-list{
    display: flex;
    gap: 24px;
    justify-content:center
}

.advantages-item{
    width: calc((100% - 72px) / 4);
}
.advantages-item-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.advantages-item-description{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}
/* #endregion advantages */

/* #region ourteam */
.section-team{
    background-color: #F4F4FD;
    display: flex;
    padding: 120px 0;
}
.team-list{
    display: flex;
    gap: 24px;
}
.worker{
    padding: 32px 0;
}
.team-title{
    margin-bottom: 72px;
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-worker{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}


.team-worker-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-worker-position{
   color: #434455; 
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
    text-align: center;
}
/* #endregion ourteam */

/* #region portfolio */
.section-portfolio{
    padding: 120px 0;
    border: none;
    display: block;
}
.portfolio-item{
    width: calc((100% - 48px) / 3);
    box-sizing: border-box;
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
}
.app-info{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-title{
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-item-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-item-area{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion portfolio */

/* #region footer */
.page-footer{
    background-color: #2E2F42;
    padding: 100px 0;
}
.footer-logo{
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    display: inline-block;
    margin-bottom: 16px
}
.text-logo-footer{
    color: #f4f4fd;
    font-size: 18px;
    line-height: 1.17;
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
    max-width: 264px;
}

/* #endregion footer */
