body{
    font-family: "Roboto", sans-serif;
   color: #434455;
   background-color: #FFFFFF;
}

ul {
list-style: none;
}

a {
    text-decoration: none;
}
/* #region head */

.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}
.text-logo{
    color: #2e2f42;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.nav-link:hover,
.nav-link:focus{
    color: #404bbf;
}

.address{
    font-style: normal;
}

.address-item{
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
}
.address-item-contact{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-item-contact:hover,
.address-item-contact:focus{
    color: #404bbf;
}

/* #endregion head */
/* #region image */
.section-image{
    background-color: #2E2F42;
}
.title-image{
    font-weight: 700;
    color: #ffffff;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}
.button-image{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}
.button-image:hover,
.button-image:focus{
    background-color: #404bbf;
}
/* #endregion image */
/* #region advantages */
.advantages-item-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.advantages-item-description{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em
}
/* #endregion advantages */

/* #region ourteam */
.section-team{
    background-color: #F4F4FD;
}
.team-title{
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team-worker{
    background-color: #FFFFFF;
}

.team-worker-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-worker-position{
   color: #434455; 
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}
/* #endregion ourteam */

/* #region portfolio */
.portfolio-title{
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-item-title{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.portfolio-item-area{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion portfolio */

/* #region footer */
.page-footer{
    background-color: #2E2F42;
}
.footer-logo{
    color: #F4F4FD;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.text-logo-footer{
    color: #f4f4fd;
    font-size: 18px;
    line-height: 1.17;
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion footer */
